Source/Tests/GestionInmobiliaria.SOAPServices.Tests/Service References/ProformaWS/ProformaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GestionInmobiliaria.BusinessEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GestionInmobiliaria.BusinessEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProforma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proforma" nillable="true" type="tns:Proforma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProforma" nillable="true" type="tns:ArrayOfProforma" />
  <xs:complexType name="Proforma">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecproforma" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProforma" type="xs:int" />
      <xs:element minOccurs="0" name="Idunidadinmobiliaria" type="xs:int" />
      <xs:element minOccurs="0" name="Igv" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="tns:UnidadInmobiliaria" />
      <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proforma" nillable="true" type="tns:Proforma" />
  <xs:complexType name="UnidadInmobiliaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="AreaConstruida" type="xs:decimal" />
      <xs:element minOccurs="0" name="AreaJardin" type="xs:decimal" />
      <xs:element minOccurs="0" name="AreaLibre" type="xs:decimal" />
      <xs:element minOccurs="0" name="AreaTechada" type="xs:decimal" />
      <xs:element minOccurs="0" name="AreaTerraza" type="xs:decimal" />
      <xs:element minOccurs="0" name="AreaTerreno" type="xs:decimal" />
      <xs:element minOccurs="0" name="BonoTP" type="xs:boolean" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edificio" nillable="true" type="tns:Edificio" />
      <xs:element minOccurs="0" name="EstadoInmueble" type="xs:int" />
      <xs:element minOccurs="0" name="Etapa" nillable="true" type="tns:Etapa" />
      <xs:element minOccurs="0" name="FichaIndependizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCargaStock" type="xs:int" />
      <xs:element minOccurs="0" name="IdEdificio" type="xs:int" />
      <xs:element minOccurs="0" name="IdEtapa" type="xs:int" />
      <xs:element minOccurs="0" name="IdMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoInmueble" type="xs:int" />
      <xs:element minOccurs="0" name="IdVista" type="xs:int" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroInmuebleActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroInmuebleOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroPiso" type="xs:int" />
      <xs:element minOccurs="0" name="NumBanios" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumDormitorio" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioBase" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioLista" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Proyecto" nillable="true" type="tns:Proyecto" />
      <xs:element minOccurs="0" name="TipoInmueble" nillable="true" type="tns:TipoInmueble" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadInmobiliaria" nillable="true" type="tns:UnidadInmobiliaria" />
  <xs:complexType name="Edificio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="AreaTerreno" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstadoEdificio" type="xs:int" />
      <xs:element minOccurs="0" name="Etapa" nillable="true" type="tns:Etapa" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoConstruccion" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPisos" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroUnidades" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Edificio" nillable="true" type="tns:Edificio" />
  <xs:complexType name="Etapa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEdificios" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroInmuebles" type="xs:int" />
      <xs:element minOccurs="0" name="Proyecto" nillable="true" type="tns:Proyecto" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Etapa" nillable="true" type="tns:Etapa" />
  <xs:complexType name="Proyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CuotaInicialMonto" type="xs:decimal" />
      <xs:element minOccurs="0" name="CuotaInicialPorcentaje" type="xs:decimal" />
      <xs:element minOccurs="0" name="DescuentoMonto" type="xs:decimal" />
      <xs:element minOccurs="0" name="DescuentoPorcentaje" type="xs:decimal" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marcador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiVivienda" type="xs:boolean" />
      <xs:element minOccurs="0" name="MontoSeparacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroInmuebles" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoEstacional" type="xs:int" />
      <xs:element minOccurs="0" name="TechoPropio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proyecto" nillable="true" type="tns:Proyecto" />
  <xs:complexType name="TipoInmueble">
    <xs:sequence>
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoInmueble" nillable="true" type="tns:TipoInmueble" />
</xs:schema>